@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot');
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot');
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--links-transition) ease-in-out;
}

a:focus-visible {
  outline: none;
}

a:hover {
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: var(--button-transition);
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.main {
  min-height: 100vh;
  padding-top: 30px;
  background-color: #F5F5F5;
}
.hidden {
  opacity: 1 !important;
  visibility: visible !important;
}
.btn {
  white-space: nowrap;
}
/* auth */
.bx-system-auth-form {
  padding: 293px 356px 100px 151px;
}
.auth-modal .modal-content {
  position: relative;
  width: 611px;
}
.auth-modal .modal-body {
  padding: 52px 122px 80px 122px;
}
.auth-modal .close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.auth-title {
  margin-bottom: 17px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px
}
.auth-subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.container {
  max-width: 1500px;
}
.block {
  padding: 27px 32px;
  background-color: white;
  border-radius: 6px;
}
.border-block{
  border-radius: 6px;
  border: 1px solid #A8ACAB;
}
.inputs-group {
  margin-bottom: 20px;
}
.inputs-group h4 {
  margin-bottom: 10px;
}
.inputs-group .row {
  margin-bottom: 15px;
}
.inputs-group .col-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #393939;
}
.title-secondary {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.form-label {
  color: #64748B;
}
/* filter */
.filter-body {
  position: absolute;
  padding: 26px 18px;
  width: 343px;
  background-color: white;
  z-index: 5000;

  opacity: 0;
  visibility: hidden;
}
/* header */
.header {
  padding: 6px 0;
  background-color: #FEFEFE;
}
.logout {
  position: absolute;
  top: 120%;
  left: 0.5rem;
  width: 222px;
  padding: 13px 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
}

/* left menu */
ul.left-menu li {
  position: relative;
  width: max-content;
  background-color: transparent;
  padding: 0 0 0 12px;
  background: none;
  font-size: 14px; 
}
ul.left-menu li:not(:last-child) {
  margin-bottom: 5px;
}
ul.left-menu li a {
  display: block;
  padding-left: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  color: #989898 !important;
  height: 20px;
}
ul.left-menu li .selected {
  color: #64748B !important;
}
ul.left-menu li .selected::before {
  content: '';
  position: absolute;
  left: 0px;
  height: 100%;
  width: 4px;
  background-color: #64748B;
}
ul.left-menu li:nth-child(1) a {
  background-image: url('/local/templates/crm-my-prava/images/menu-client.png');
}
ul.left-menu li:nth-child(2) a {
  background-image: url('/local/templates/crm-my-prava/images/menu-tasks.png');
}
ul.left-menu li:nth-child(3) a {
  background-image: url('/local/templates/crm-my-prava/images/menu-docs.png');
}
/*  */
.create-client-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: max-content;
}

.create-client-btn img {
  margin-right: 10px;
}

.main-table {
  border-color: #c4c4c4;
  color: #64748B;
  font-size: 14px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25)
}

.main-table tbody {
  background-color: white;
}

.main-table th {
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.main-table a {
  text-decoration: underline;
}

.main-table td,
.main-table th {
  padding: 16px;
  white-space: nowrap;
}

.table>:not(:last-child)>:last-child>* {
  border-bottom-color: transparent;
}
.scroll-vertical-table {
  overflow-y: auto;
}
/* create client */
.create-client-tabs {
  display: flex;
  padding-bottom: 8px;
  width: max-content;
  border-bottom: 1px solid #AAA;
  color: #878787;
}

.create-client-tabs h3 {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.create-client-tabs > h3:not(:last-child) {
  margin-right: 43px;
}
.form-button {
  opacity: 0;
  visibility: hidden;
}

.block[data-step] {
  display: none;
}

.active-step {
  display: block !important;
}

.active-tab {
  position: relative;
  font-weight: 700;
  color: #393939;
}
.active-tab::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #505050;
}

/* contract */
.contract-date {
  font-size: 18px;
  font-weight: 500;
  margin-left: 11px;
}
/* creditor */
.creditor-index {
  display: block;
  margin-right: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.62);
}
.creditor-name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.creditor-item {
  padding-right: 5px;
  display: flex;
  justify-content: stretch;
}
.creditor-item .divider {
  margin: 0 3px;
  width: 100%;
  background-image: url(/local/templates/crm-my-prava/images/dots.png);
  background-position: bottom 5px left;
  background-size: 100%;
  background-repeat: no-repeat;
}
.creditor-descr {
  color: rgba(0, 0, 0, 0.62);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}
.creditor-value {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.graph-form td input,
.graph-form td select {
  min-width: 150px;
}
.create-graph,
.sub-btn {
  display: none;
}

/* info block */
.info {
  padding: 2px 5px;
  display: flex;
  justify-content: stretch;
}
.info div:nth-child(1) {
  color: rgba(0, 0, 0, 0.62);
  font-weight: 500;
  width: max-content;
  white-space: nowrap;
}
.info div:nth-child(2) {
  margin: 0 3px;
  width: 100%;
  background-image: url('/local/templates/crm-my-prava/images/dots.png');
  background-position: bottom 5px left;
  background-size: 100%;
  background-repeat: no-repeat;
}
.info div:nth-child(3) {
 white-space: nowrap;
}

/* client lk */
.client-main {
  padding-top: 28px;
}
.gray-block {
  padding: 18px 22px;
  background-color: #F2F2F2;
}
.personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.personal-data > p:nth-child(1) {
  color: #736D6D;
}

.create-doc-sub {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* pagination */
.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: 500;
  color: #404B52;
  background-color: #F5F5F5;
  border-radius: 4px;
  border: 1px solid #EEE;
}

.pagination-active {
  border: 1px solid #1A1A1A;
  background: #636363;
  color: #FFF;
}

.progress-wrapper {
  position: relative;
  border-radius: 4px;
  background: #E2E2EA;
  width: 100%;
  height: 8px;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background: #818382;
}

/* 404 */
.not-found {
  margin: 70px 0;  
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 44% */
  letter-spacing: -0.6px;
}

.not-found-404 {
  margin-bottom: 50px;
  font-size: 411px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #0099D3;
}

.trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #64748B;
}
.trigger-active svg {
  transform: rotate(180deg);
}

.filter-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}